body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 0 0.2em;
  border: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header p {
  width: 50%;
  font-size: 32px;
  font-weight: bold;
  margin: 0 11em 0 5em;
}

header button {
  width: 38%;
  margin-right: 2em;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.75em 1em;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

header button:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.div-buton-inapoi {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  padding-left: 0.8em;
}

.buton-inapoi {
  display: flex;
  width: 20%;
  margin: 1em 5em 1em 0.6em;
  font-size: 1.6em;
  font-weight: bold;
}

.corp {
  margin-top: 1vh;
  width: 99%;
  height: 84vh;
  display: flex;
}

.big-daddy-scroll {
  flex: 62%;
  height: 100%;
  overflow-y: scroll;
}

.big-daddy-scroll .product {
  display: flex;
  justify-content: space-between;
  margin: 1em 0.5em;
  padding: 1em 1em;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 14px;
}

.navbar {
  flex: 34%;
  height: 95.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em 1em;
  border: 3px solid black;
}

.navbar .sectiune-filtre {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin-top: 2em;
  padding-bottom: 1em;
}

.sectiune-filtre .continut {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectiune-filtre p,
.sectiune-cautare label {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0.4em 0;
  text-align: center;
  border: 2px solid black;
  border-top: none;
}

.sectiune-filtre button {
  width: 9vw;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.2em 0.3em;
  cursor: pointer;
}

.sectiune-filtre div label {
  font-size: 28px;
  margin-right: 0.2em;
}

.sectiune-filtre option,
.sectiune-filtre select {
  font-size: 22px;
  margin: 0 0.6em 0 0.2em;
}




.fundal-pop-up {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  width: 40vw;
  border: 4px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-pop-up {
  width: 100%;
  padding: 1em 0.4em;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.pop-up form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
}

form .form-element {
  display: flex;
  justify-content: space-between;
  width: 130%;
  margin: 1% 0;
}

.form-element {
  font-size: 1.2em;
}

.form-element input {
  width: 56%;
  font-size: 1em;
}

form p {
  font-size: 18px;
}

form select {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

form select option {
  font-size: 18px;
}

form button {
  width: 40%;
  margin: 1em 0 0.5em 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0.4em 0.5em;
}


.pop-up .form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form p {
  font-size: 18px;
}

.form select {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.form select option {
  font-size: 18px;
}

.form button {
  width: 40%;
  margin: 1em 0 0.5em 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0.4em 0.5em;
}

.dada {
  width: 20vw;
}

.checkboxes-container {
  width: 90%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  height: 25vh;
  border: 2px solid black;
  padding: 0 1em;
  overflow-y: scroll;
  margin-bottom: 0;
  font-size: 1.3em;
}

.checkboxes-container .operation {
  margin: 1% 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkboxes-container input {
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
}

.footer-pop-up {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-pop-up button {
  cursor: pointer;
}