body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/art.png');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-comanda {
  color: white;
  padding: 2em 0 1em 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(37, 37, 37);
  border-left: 3.5px solid white;
  border-right: 3.5px solid white;
}

.form-comanda .mini-casuta {
  width: 80%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 3em;
  padding: 0.4em 0;
  border: 3px solid white;
}

.mini-casuta::-webkit-scrollbar {
  display: none;
}

.form-comanda p {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.form-comanda label {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0;
}

.form-comanda select {
  width: 80%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 0;
}

.form-comanda input {
  width: 70%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 0;
}

.form-comanda button {
  width: 30vw;
  padding: 0.8em 0;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 1em 0 1em 0;
  background-color: white;
}